*{
    margin: 0;
    padding: 0;
}


body{
    background-color: hsl(225, 100%, 94%);
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);

}

.card{
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
}

.card-img img{
    max-width: 100%;
    width: 100%;
    padding-bottom: 8px;
}

.card-detail{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 24px;
}

.card-text h1{
    padding-bottom: 16px;
    color: hsl(223, 47%, 23%);
}

.annual-plan{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(225, 100%, 98%) ;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
    
}

.yazı p:first-child{
    
    font-weight: 900;
    color: black;
}

.annual-plan .plan{
    display: flex;   
}
.yazı{
    padding-left: 16px;
}
.annual-plan img{
    background-color:hsl(225, 100%, 94%) ;
    border-radius: 9999px;
}

.change{
    text-align: center;
}

.button{
    background-color:hsl(245, 75%, 52%);
    border-radius: 8px;
    padding: 8px;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    
    box-shadow: 0px 8px 8px 8px hsl(225, 100%, 94%);
}

.botton2{
    padding-top: 8px;
}